h1 {
  width: 200;
  text-align: center;
}

.pageNav {
  display: flex;

  justify-content: center;
  align-items: center;
  margin: 20px;

  p {
    margin: 0 20px;
  }
}

.returnedBooks {
  display: grid;
  grid-template-columns: auto;
  margin: auto;
}

@media only screen and (min-width: 1024px) {
  .heading {
    width: 40%;
  }
}
