// nav {
// width: 80%;
// margin: auto;
h1 {
  width: 200;
  // margin: auto;
  text-align: center;
}
// }

.pageNav {
  display: flex;

  justify-content: center;
  align-items: center;
  margin: 20px;

  p {
    margin: 0 20px;
  }
}

.returnedBooks {
  display: grid;
  grid-template-columns: auto;
  margin: auto;
}

// @media only screen and (min-width: 768px) {
//   .returnedBooks {
//     display: grid;
//     grid-template-columns: auto auto;
//   }
// }

@media only screen and (min-width: 1024px) {
  // .returnedBooks {
  //   display: grid;
  //   grid-template-columns: auto auto auto auto;
  // }
  .heading {
    width: 40%;
  }
}
